.about-page  {
  margin-top: 60px;
  max-width: 1024px;
  margin-bottom: 48px;
  
  /* headers and text styling */

  .about-intro {
    .intro-title {
      font-size: 18px;
      height: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.3px;
      color: $text-title;
      margin-left: 6.5%;
    }
  }

  h1.about-names {
    font-size: 18px;
    height: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
    color: $text-title;
  }

  h2.about-row-two-header{
    width: 192px;
    height: 24px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1px;
    color: $text-subtitle;
    margin-left: 1%;
  }

   .about-paragraph {
    margin-top: 16px;
    height: 120px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: $text-body;
    letter-spacing: 0.13px;
    margin-left: 6.5%;
    margin-bottom: 20px;
  }

  .about-names-section-two {
    width: 192px;
    height: 24px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: var(--text-title);
  }

  h4.role-description {
    width: 192px;
    height: 16px;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    color: var(--text-toned-down);
    text-transform: uppercase;
  }

  p.role-paragraph {
    margin-left: 16px;
  }

  /* rows */

  .row.about-intro{
    margin-top: 1%;
  }

  .row.team-members{
    margin-top: .5%;
    margin-left: 5%;
  }

  .row.team-members-row-two{
    margin-left: 22.5%;
  }

  .row.team-members-row-three{
    margin-top: .80%;
    margin-left: 27%;
    margin-bottom: 5%;
  }

  /* lines */

  hr.line-one{
    width: 452px;
    height: 1px;
    margin-left: 6.5%;
    color: #bbbbbb;
    background-color: #bbbbbb;
    margin-top: .25%;
  }

  hr.line-two{
    width: 192px;
    margin: 0;
    margin-bottom: 19px;
    height: 1px;
    color: #bbbbbb;
    background-color: #bbbbbb;
  }
}
