button {
  float: right;
}

div.container {
  padding-top: 5%;
}

body h1 {
  display:inline-block;
  margin-left: 10%;
  font-size: 24px;
}

body h2 {
  font-size: 18px;
  text-transform: uppercase;
}

p{
  display:inline-block;
  margin-left: 10%;
}

img {
  float: left;
  height: 104px;
  width: 104px;
  object-fit: cover;
}

ion-icon {
  font-size: 20px;
}

/* about page */

.row.about-intro{
  margin-top: 2%;
}

.row.team-members{
  margin-top: 2%;
  margin-left: 8%;
}

.row.team-members-row-two{
  margin-top: 2%;
  margin-left: 28.5%;
}

hr.line-one{
  width: 50%;
  margin-left: 9.5%;
}

hr.line-two{
  width: 20%;
  margin-left: 32.5%;
}

.row.line-two {
  background-color: red;
}
