.page-header{
  height: 60px;
  background-color: #f3c937;
  display: flex;
}

.logo{
  width: 60px;
  margin-top: 16px;
  margin-left: 32px;
  font-size: 12px;
  font-family: Roboto, Helvetica, sans-serif; 
  line-height: normal;
  font-weight: bold;
}

.logo > a{
  text-decoration: none;
  color: #333333;
}


.header-search{
  font-family: Roboto, Helvetica, sans-serif; 
  color: #555555;
  margin-left: 36px;
  margin-top: 20px;
}