<div class="container">
  <div class="row">


  <div class="col-md-6">
    <div class="about-header">
      <h1>We made Giving Profiles to help you help others</h1>
    </div>

      <div class="about-text">
        <p>Giving Profiles is a simple way to collect all your charitable donations in a single place. Use it to keep track of your giving, share your favorite charities with friends, and discover great new organizations to support. We are a team of researchers from Harvard and Yale who specialize in motivating people to do more good. We're not venture capitalists, or serial-startup-ists, and we're not here to make a buck. We're here to put our research into practice, and see if we can help you make the biggest difference you can.</p>
      </div>


      </div>
    </div>

    <div class="col-md-6">
      <hr>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="our-team-header">
          <h2>Our Team</h2>
        </div>
      </div>

      <div class="col-md-4">
        <div class="our-team-name">
          <h1>Erez Yoeli</h1>
        </div>
        <div class="our-team-description">
          <p>Research scientist at MIT Sloan.  He applies insights from the social sciences to promote charitable giving, volunteering, resource conservation, medication adherence, etc.</p>
        </div>

        <div class="our-team-name">
          <h1>Erez Yoeli</h1>
        </div>
        <div class="our-team-description">
          <p>Research scientist at MIT Sloan.  He applies insights from the social sciences to promote charitable giving, volunteering, resource conservation, medication adherence, etc.</p>
        </div>

        <div class="our-team-name">
          <h1>Erez Yoeli</h1>
        </div>
        <div class="our-team-description">
          <p>Research scientist at MIT Sloan.  He applies insights from the social sciences to promote charitable giving, volunteering, resource conservation, medication adherence, etc.</p>
        </div>

      </div>

    </div>


  </div>
