.user-profile-edit {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

  &__form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .form-control {
      border: solid 1px $text-toned-down;
    }

    .label {
      color: $text-toned-down;
      font-size: 14px;
    }

    .profile-pic {
      background-color: #EEEEEE;
      flex-grow: 1;
      // &__pic {

      // }
      // &__change{

      // }
    }

    .editable-content{
      background-color: #EEEEEE;
      flex-grow: 5;

      .profile-section {
        margin-top: 30px;
      }
    }

    .action-buttons{
      background-color: #EEEEEE;
      flex-grow: 2;
    }
  }
}