.user-profile-edit {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .profile-pic {
    background-color: #EEEEEE;
    flex-grow: 1;
    // &__pic {

    // }
    // &__change{

    // }
  }

  .editable-content{
    background-color: #EEEEEE;
    flex-grow: 5;

    .profile-section {
      margin-top: 20px;
    }
  }

  .action-buttons{
    background-color: #EEEEEE;
    flex-grow: 2;
  }
}