.profile-content-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 100px; //for testing. May not be needed. 
  .badges {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .donations-by-causes {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
  }
  .past-donations {
    grid-column: 8 / 11;
    grid-row: 1 / 4;
  }
  .philosophy {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  .favorite-organizations {
    grid-column: 4 / 8;
    grid-row: 2 / 4;
  }
  .brand-text {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}

.profile-section {
  .section-title{
    width: 296px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1px;
    color: var(--text-subtitle);
  }

  .divider {
    border-top: solid 2px var(--element-toned-down);
  }
}

///////////////////////////// PAST DONATIONs ///////////////////////////

.profile-section.past-donations {
  .mini-user-profile-info{
    margin-bottom: 15px;

    .user-name{
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.2px;
      color: var(--text-title);
    }
  }

  .search-my-past-donations{
    margin-bottom: 15px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--text-body);

  }
  .donations {
    .donation {
      margin-bottom: 10px;
      padding: 15px;
      padding-right: 20px;
      border-radius: 12px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

      .donation-header {
        display: flex;
        justify-content: space-between;
        .donated-to-text {
          font-family: Roboto;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: normal;
          color: var(--text-body);
        }
        .donation-menu{
          color: var(--text-toned-down);
        }
      }


      .donated-organization {
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: var(--text-body);
      }

      .donation-time {
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--text-toned-down);
        margin-top: 20px;
      }
    }
  }

  .scroll-to-see-more {
    .scroll-text {
      font-family: Roboto;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--text-body);
    }
    .scroll-icon {
      color: var(--text-toned-down);
      margin-right: 15px;
    }
  }
}

/////////////////////////////////////////////////////////////////////////



////////////////////////// FAVORITE ORGANIZATION ////////////////////////
.profile-section.favorite-organizations {
  .user-fav-orgs {
    .favorite-organization {
      margin-bottom: 20px;
      .organization-header {
        display: flex;
        justify-content: space-between;
        .organization-name{
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: 0.2px;
          color: var(--text-title);
          // margin-bottom: 5px;
        }
        .org-type{
          height: 24px;
          font-family: Roboto;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          border-radius: 12px;
          padding: 5px 10px;
        }
      }
      .fav-org-text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: var(--text-body);
      }
    }
  }
}







  // font-family: Roboto;
  // font-size: 18px;
  // font-weight: bold;
  // font-style: normal;
  // font-stretch: normal;
  // line-height: 1.33;
  // letter-spacing: 0.2px;
  // color: var(--text-title);

////////////////////////////////////////////////////////////////////////


// this is just for testing. Will get rid of this later. 
.profile-content-container > div {
  // background-color: #EAEAEA;
}