<<<<<<< HEAD
<header class='page-header'>
  
  <div class='logo'> 
    <a href="/">GIVING PROFILES</a>
  </div>

  <!-- This is just a place holder for now. -->
  <div class='header-search'>
    <%= fa_icon "search", text: "Search..." %>
  </div>

</header>
=======
<nav class="navbar navbar-light bg-light">
  <!--- giving profiles needs to be two lines - do we need a logo or should we do this in text? -->
  <a class="navbar-brand" href="#">Giving Profiles</a>
</nav>

<!--enables ion icons -->
<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
>>>>>>> adding in static elements for homepage
